:root {
  --khaki: #fff8bb;
  --light-salmon: #fa807220;
  --salmon: #fa8072;
  --honey: #ffcf22;
}

body {
  background-color: var(--khaki);
}

#grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  border: 1px solid var(--honey);
}

#grid div {
  box-sizing: border-box;
  width: 20%;
  aspect-ratio: 1;
  background-color: var(--light-salmon);
  border: inherit;
  /* opacity: .1; */
}

